@media screen and (min-width: 768px) {

	.lede-content {
		width: 60%;
		margin: 0 auto;

		.dek {
			font-size: 30px;
			line-height:36px;
		}
	}

	.lede-video {
		video {
			display: block;
			margin-bottom: 30px;
		}

		.mobile-lede {
			display: none;
		}
	}

	h1 {
	    font-size: 4rem;
	    line-height: 1.1em;
	    margin-bottom: 0.1em;
	    color: $quote-color;
	}


	p {
		width: 60%;
	  	margin: 30px auto;
	  	font-size: 18px;
	  	line-height: 1.6em;
	}

	.img_full {
		width: 90%;
		max-width: 1280px;
		margin: 0 auto 3rem;
	}

	// .img_column {
	// 	width: 60%;
	// 	max-width: 720px;
	// 	margin: 0 auto;
	// }

	.img_left, .img_right {
		max-width: 450px;
		margin: 1em 40px;
	}

	.img_left {
		float: left;
	}

	.img_right {
		float: right;
	}

	.pullquotes {
		font-size: 2.2em;
		line-height: 3.2rem;
		width: 58%;
		max-width: 48rem;
		padding: 1.25em 0;
		margin: 1em auto;
	}

	.section-break {
		margin-top: 50px;
		padding-top: 50px;
	}

	.made-series {
		margin: 1em auto 0;
	}

	#main {
		.video-tout {
		    margin: -5% auto 3%;
		    // bottom: 33%;
		    // position: absolute;
		    // left: 33%;
		 //    position: relative;
			// top: 50%;
			// transform: translateY(-50%);
			// position: absolute;
		 //    z-index: 100;
		 //    text-align: center;
		 //    left: 50%;
		 //    top: 58%;
		 //    transform: translate(-58%, -50%);
		}


		#mobile-tout {
		    display: none;
		}

		#lede-tout {
		    display: block;
		}
	}
}
@media screen and (min-width: 970px) {
	.lede-video {
		.video-js {
			min-width: 970px;
			min-height: 546px;
		}
	}
}