/*-- BODY COPY STYLES -- */
body {
	background-color: #ceb29b;

}


/*-- CENTERED COLUMN -- */

p {
	margin: 0 1em 1em;
  	max-width: 720px;
  	font: 16px/1.6em $tiempos;
  	color: $text-black;

  	a {
		color: $text-black;
		text-decoration: none;
		border-bottom: 2px solid $quote-color;
	}
}

.section-break {
	margin-top: 2em;
	
	&:first-line {
		font: 20px $HaasBold;
		color: $quote-color;
	}
}

.made-series {
	margin: 2em 1em 0;
	font-family: $HaasBold;
	text-align: center;
}

.terminal p a {
	border-bottom: none;
}

.closer {
	display: inline;
	margin-top: -5px;
	margin-left: 2px;
	height: 14px;
}

.top-banner a:hover {
	color: $white;
}

.published-at, .brief__story-published-at {
	color: $light-gold;
}

.hidden {
	display: none;
}